@import "../settings";

.navigation {

  margin-top: 20px;

  ul {

    display: flex;

    flex-direction: row;

    justify-content: space-around;

  }

  ul a {

    text-decoration: none;

    color: $color-2;

    transition: all .3s ease;

    &:hover {

      color: $color-1;

    }

  }

  .nav-active {

    color: #20abef;

  }

}
